[Desktop Entry]
Encoding=UTF-8
Name=Link to charlottes-web-log-api/client/components at master · matai-2019/charlottes-web-log-api
Type=Link
URL=https://github.com/matai-2019/charlottes-web-log-api/tree/master/client/components
Icon=text-html
