[Desktop Entry]
Encoding=UTF-8
Name=Link to Creating a Single-Page App in React using React Router | kirupa.com
Type=Link
URL=https://www.kirupa.com/react/creating_single_page_app_react_using_react_router.htm
Icon=text-html
Name[en_NZ]=Links to Single page app on react
