[Desktop Entry]
Encoding=UTF-8
Name=Link to matai-2019/external-api-playground
Type=Link
URL=https://github.com/matai-2019/external-api-playground
Icon=text-html
