[Desktop Entry]
Encoding=UTF-8
Name=Link to Math.random() - JavaScript | MDN
Type=Link
URL=https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random
Icon=text-html
