[Desktop Entry]
Encoding=UTF-8
Name=Link to react-to-web-api/server at master · matai-2019/react-to-web-api
Type=Link
URL=https://github.com/matai-2019/react-to-web-api/tree/master/server
Icon=text-html
