[Desktop Entry]
Encoding=UTF-8
Name=Link to javascript - How to make shaking image animation in React Native? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/53752983/how-to-make-shaking-image-animation-in-react-native
Icon=text-html
Name[en_NZ]=shaking image animation in React Native
