* {
  padding: 0;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
  background-color: gold;
  align-items: stretch;
  height: 100%;
  width: 1300px;
  border: 5px purple solid;
}

.fortuneCookie {
  height: 850px;
  width: 100%;
  flex-grow: 1;
  border: 6px solid orangered;
}

.Form {
  width: 100%;
  height: 850px;
  flex-grow: 2;  
  border: 6px solid orangered;
}

.luck {
  width: 100%;
  height: 850px;
  flex-grow: 1;
  border: 6px solid orangered;
}

#app p {
  text-align: center;
}

#app .Form {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 0;
  border: none;
}

.cookieImg {
  justify-self: center;
  display: flex;
  margin-top: 235px;
}

/* adding active shaking animation on fortune-cookie-img */

.cookieImg:active {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(2px,2px) rotate(4deg);
  }
  20% {
    transform: translate(-1px,-1px) rotate(-7deg);
  }
  40% {
    transform: translate(3px,3px) rotate(7deg);
  }
  60% {
    transform: translate(-4px,-4px) rotate(6deg);
  }
  80% {
    transform: translate(2px,2px) rotate(6deg);
  }
  100% {
    transform: translate(-4px,-4px) rotate(-4deg);
  }
}